.login-admin{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f49595;
    text-align: center;

.logo{
    height: 100px;
    padding-bottom: 1rem;
}


    &__content{
        background-color: white;
        padding: 50px 50px;
        border-radius: 20px;
        width: 500px;
        border-radius: 50px;
background: #f49595;
box-shadow:  20px 20px 60px #cf7f7f,
             -20px -20px 60px #ffabab;
    }
}