.react-multiple-carousel__arrow { 
    margin-left: -30px;
    margin-right: -30px;
  
  }
.skill {
    background-color: #ffffff;
    margin-top: 100px;
    padding: 0 0 50px 0;
    position: relative;
  }
.skill-bx {
    background: #FAEDCD;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
.skill h2 {
  font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 30px;
      font-size: 45px;
      font-weight: 700;
  }
.skill p {
      color: black;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    height: 150px;
    width: 50%;
    margin: 0 auto 15px auto;
  }

 h5 {
    color: black;
  }